main
{
	width: 65rem;
	background-color: #ccc;
	margin: auto;
}
h1
{
	text-align: center;
}
h4
{
	font-weight: bold;
}
select
{
	padding: 0.5em;
}
.w3-card
{
	background-color: white;
}
.row-card
{
	padding: 0.9em;
	margin-bottom: 1em;
}
.survey-row
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.question-row
{
	display: flex;
	align-items: left;
	border-top: medium solid #ccc;
}
.question-check
{
	align-self: center;
}
.question-text
{
	flex: 3;
	align-self: left;
	padding: 0 1em;
}
.question-choices
{
	flex: 1;
	align-self: left;
}
#add-survey-btn
{
	display: block;
	margin: 0 0 1em auto;
}
#add-survey-form
{
	padding: 0.9em;
	background-color: white;
}
