body
{
	background-color: #bdbdbd;
	font-family: 'Roboto', sans-serif;
}
#page-container
{
	width: 65rem;
	box-sizing: content-box;
	margin: 0 auto 1em;;
}
@media screen and (max-width: 65rem)
{
	#page-container
	{
		width: 100%;
	}
}
main.w3-container
{
	background-color: #e0e0e0;
	padding: 1em;
}
.flex-container
{
	width: 40rem;
	margin: auto;
	display: flex;
}
@media screen and (max-width: 40rem)
{
	.flex-container
	{
		width: 100%;
	}
}
#questions-box-btn, #surveys-box-btn
{
	flex: 1;
	text-decoration: none;
}
#questions-box-btn
{
	margin-right: 0.5em;
}
#surveys-box-btn
{
	margin-left: 0.5em;
}
.graphic > img
{
	padding: 2em;
	display: block;
	margin: auto;
	width: 45%;
}
#questions-box-btn .label, #surveys-box-btn .label
{
	border-top: medium solid #2196f3;
	text-align: center;
	font-size: 1.8em;
}
.w3-bar
{
	background-color: #074b83;
	color: white;
}
.w3-bar .current-item
{
	
}
#add-survey-form
{
	padding: 0.01em 0.9em 0;
	background-color: white;
}
#hidden
{
	display: none;
}
select
{
	padding: 0.5em;
}
.w3-card
{
	background-color: white;
}
.card-header
{
	border-bottom: medium solid #2196f3;
	padding: 0.9em 0 0.9em;
}
.card-header > h3
{
	margin: 0 0.9em;
}
.row-card
{
	padding: 0.9em;
	margin-bottom: 1em;
}
.survey-row
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}
.question-row
{
	display: flex;
	justify-content: space-between;
}
.question-row > div, .question-answer-row > div
{
	padding: 0.9em;
}
.question-answer-row .choices
{
	display: flex;
	align-items: center;
}
.question-answer-row .choices .choice
{
	padding-left: 1em;
}
.question-check-row
{
	display: flex;
	align-items: left;
	border-top: thin solid #2196f3;
}
.row-card.question-check-row:last-child
{
	margin-bottom: 0;
}
.question-check
{
	align-self: center;
}
.question-text
{
	flex: 3;
	align-self: left;
	padding: 0 1em;
}
.question-choices
{
	flex: 1;
	align-self: left;
}
#add-survey-btn, #survey-form .button
{
	font-size: 1.5em;
	padding: 0.4em;
}
.button
{
	text-align: center;
	color: white;
	background-color: #0c87eb;
	padding: 0.5em;
	text-decoration: none;
}
.button:hover
{
	background-color: #4daaf6;
}
.button:active
{
	background-color: #074b83;
}
#status-panel
{
	margin-top: 0;
}
#add-question-form
{
	display: flex;
	background-color: #a6d4fa;
}
#add-question-form > div
{
	box-sizing: border-box;
	padding: 1em 0 1em 1em;
}
#add-question-form .question
{
	flex: 2;
}
#add-question-form .choices
{
	flex: 1;
}
#add-question-form .add
{
	padding: 1em;
}
#add-question-form input
{
	width: 100%;
	margin-bottom: 1em;
}
#add-question-form input:last-child
{
	margin-bottom: 0;
}
#login-form
{
	width: 30rem;
	margin: auto;
	font-size: 1.2em;
	padding: 2em;
	box-sizing: border-box;
}
@media screen and (max-width: 30rem)
{
	#login-form
	{
		width: 100%;
	}
}
#login-form input, #login-form .w3-text-red
{
	display: block;
	width: 100%;
	margin-bottom: 2em;
}
#sent-survey
{
	padding: 2em;
	text-align: center;
}
#sent-survey > a.button
{
	display: inline-block;
	margin-top: 2em;
}
