<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Questions</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<style>
form.add-questions
{
	margin: 0.5em;
	padding-bottom: 1em;
	background-color: grey;
	display: flex;
}
.flex-question
{
	padding-left: 1em;
	flex: 2;
}
.flex-choices
{
	padding-left: 1em;
	flex: 1;
}
.add-btn-container
{
	padding-left: 1em;
	padding-right: 1em;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script>
$(document).ready(function()
{
	$(document).on("input", "input[name^=choice]", function()
	{
		var no_choices = parseInt($("input[name=no_choices]").val());
		if ($.trim($("input[name=choice" + no_choices + "]").val()) != "")
		{
			$(".choices").append('<input type="text" placeholder="Choice" ' +
					'name="choice' + (no_choices + 1) + '" size="18" class="w3-input"/>');
			$("input[name=no_choices]").val(no_choices + 1);
		}
	});
	$("#add-question-form .button").click(function()
	{
		$("#add-question-form").submit();
	});
});
</script>
</head>
<body>
<div id="page-container" class="w3-card-4">
<header class="w3-container w3-blue"><h1>Questions</h1></header>
<main class="w3-container">
	{% for question in questions %}
	<div class="w3-card row-card question-row">
		<div>{{ question.question }}</div>
		<div>
			{% for choice in question.choices %}
			{{ choice }}<br />
			{% endfor %}
		</div>
	</div>
	{% endfor %}
<form id="add-question-form" class="w3-card" method="POST">
	<div class="question">
		<input type="text" name="question" class="w3-input" placeholder="Question">
	</div>
	<div class="choices">
		<input type="hidden" name="no_choices" value="0">
		<input type="text" name="choice0" class="w3-input" placeholder="Choice"
			size="18">
	</div>
	<div class="add">
		<div class="button">Add Question</div>
	</div>
</form>
</main>
</div>
</body>
</html>
