<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Surveys</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script>
$(document).ready(function()
{
	$("#add-survey-btn").click(function()
	{
		if ($("#hidden").css("display") == "none")
		{
			$("#hidden").slideDown(500);
		}
		else
		{
			$("#add-survey-btn").text("Adding");
			$("#hidden").slideUp(500, function()
			{
				$("#add-survey-form").submit();
			});
		}
	});
});
</script>
</head>
<body>
<div id="page-container" class="w3-card-4">
<header class="w3-container w3-blue"><h1>Surveys</h1></header>
<div class="w3-bar">
	<a href="/dashboard" class="w3-bar-item w3-button">Dashboard</a>
	<a href="/questions" class="w3-bar-item w3-button">Questions</a>
	<a href="/surveys" class="w3-bar-item w3-button current-item">Surveys</a>
	<a href="/" class="w3-bar-item w3-button w3-right">Logout</a>
</div>
<main class="w3-container">
{% for survey in surveys %}
{% set link = "/fill_survey/" + survey.course_offering.replace(" ", "-") %}
<a class="w3-card row-card survey-row" href="{{ link }}">
	<div>{{ survey.course_offering }}</div>
	<div><input type="text" value="{{ link }}" readonly></div></a>
{% endfor %}
<div id="hidden">
<div class="w3-card w3-text-blue card-header"><h3>New Survey</h3></div>
<form id="add-survey-form" class="w3-card" method="POST">
	<h4 class="w3-text-blue">Course</h4>
	<select name="course">
		{% for course in courses %}
		<option value="{{ course }}">{{ course }}</option>
		{% endfor %}
	</select>
	<h4 class="w3-text-blue">Questions</h4>
	{% for q in questions %}
	<div class="row-card question-check-row">
		<div class="question-check">
			<input type="checkbox" class="w3-check" name="question_id" 
				value="{{ q.id }}">
		</div>
		<div class="question-text">
			{{ q.question }}
		</div>

		<div class="question-choices">
			{% for choice in q.choices %}
			{{ choice }}<br>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</form>
</div>
<div id="add-survey-btn" class="w3-container button">Add Survey</div>
</main>
</div>
</body>
</html>
