<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Surveys</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script>
$(document).ready(function()
{
	$("#add-survey-btn").click(function()
	{
		$("#add-survey-form").submit();
	});
});
</script>
</head>
<body>
<main class="w3-container">
<h1>Surveys</h1>
{% for survey in surveys %}
<div class="w3-card survey-row">
	<div>{{ survey.course_offering }}</div>
	<div><input type="text" value="URL" readonly></div>
</div>
{% endfor %}
<form id="add-survey-form" class="w3-card-4" method="POST">
	<h4>Course</h4>
	<select name="course">
		{% for course in courses %}
		<option value="{{ course }}">{{ course }}</option>
		{% endfor %}
	</select>
	<h4>Questions</h4>
	{% for q in questions %}
	<div class="question-row">
		<div class="question-check">
			<input type="checkbox" class="w3-check" name="question_id" 
				value="{{ q.id }}">
		</div>
		<div class="question-text">
			{{ q.question }}
		</div>

		<div class="question-choices">
			{% for choice in q.choices %}
			{{ choice }}<br>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</form>
<input type="button" id="add-survey-btn" value="Add Survey">
</main>
</body>
</html>
